In [1]:
# Create a dataframe having at least 3 columns and 50 rows to store numeric data generated using a random
# function. Replace 10% of the values by null values whose index positions are generated using random function.
# Do the following:
# a. Identify and count missing values in a dataframe.
# b. Drop the column having more than 5 null values.
# c. Identify the row label having maximum of the sum of all values in a row and drop that row.
# d. Sort the dataframe on the basis of the first column.
# e. Remove all duplicates from the first column.
# f. Find the correlation between first and second column and covariance between second and third
# column.
# g. Detect the outliers and remove the rows having outliers.
# h. Discretize second column and create 5 bins


import numpy as np
import pandas as pd
from pandas import Series,DataFrame
#from itertools import zip

rand = np.random.randn(50,3)
df=DataFrame(rand)
temp=DataFrame(rand)                ##For storing original data values
print("The DataFrame is : ")
df

The DataFrame is :

           0         1         2
0  -0.219444  0.862152  0.638012
1  -1.420462 -1.593394  0.551433
2  -0.556956  0.642456 -1.903061
3  -1.141479  0.712607 -3.433619
4   0.621297  1.439436  0.455576
5  -0.111148  0.514177 -0.981697
6   2.060874  0.379883 -0.489887
7   0.890061 -0.940793 -1.063430
8  -0.025073  0.617757  0.098288
9   2.294476 -1.351127 -0.473090
10  1.951116  1.551010  0.869619
11 -0.157269 -0.593877  1.806397
12  0.723708 -0.367473 -1.083590
13 -0.025359 -0.220751 -2.533928
14  1.133323 -0.334560  2.219325
15  0.874676  0.990100  0.862972
16 -0.179866  0.154997  0.692968
17  1.138000  0.975310  0.490196
18 -0.514983 -0.622928  0.488779
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
21 -0.881407  1.387133  0.590924
22 -0.942662  1.281320 -0.044009
23  0.779739  1.034117  0.687446
24 -1.489971 -2.659973 -1.603739
25  0.075875 -0.146146 -0.552898
26 -1.354791  0.300910 -0.329339
27 -1.089672 -0.803777 -0.921272
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
30  0.984704 -0.046355  0.692290
31  0.793991  1.791765  1.297697
32 -1.293774 -0.583517 -0.157288
33  0.353304 -0.454997 -0.394581
34 -0.197682  0.242009  0.805524
35  2.943045 -1.454803  0.891836
36 -0.293400 -1.288052 -1.216343
37 -0.942429  1.174678 -0.576527
38 -2.285620 -0.927651  1.807632
39 -1.440037 -1.842489  1.357202
40 -0.560534 -0.824231 -1.611897
41  0.706394  0.057157  1.227782
42 -0.841619 -0.937959  0.675474
43  0.204906  0.514825 -0.291869
44 -0.144525 -0.910644  0.176119
45  1.459465 -0.880620 -0.173625
46  0.536090  0.961909  0.834184
47  1.063929 -1.350850  2.079784
48 -0.303495 -0.090691  0.354834
49 -0.409062 -0.408841  1.536720

In [2]:
per=(10/100)*df.size
#print("\n",per)

for i in range(int(per)):
    row=np.random.randint(0,50)
    col=np.random.randint(0,3)
    df.loc[row,col]=np.nan
    while(df.loc[row,col] is np.nan):
        row=np.random.randint(0,50)
        col=np.random.randint(0,3)
    df.loc[row,col]=np.nan
        
print("\nThe new DataFrame is : ")
df

The new DataFrame is :

           0         1         2
0  -0.219444  0.862152  0.638012
1  -1.420462 -1.593394  0.551433
2  -0.556956  0.642456 -1.903061
3  -1.141479  0.712607 -3.433619
4   0.621297  1.439436  0.455576
5  -0.111148  0.514177 -0.981697
6   2.060874  0.379883 -0.489887
7   0.890061 -0.940793 -1.063430
8  -0.025073       NaN       NaN
9   2.294476 -1.351127 -0.473090
10  1.951116  1.551010  0.869619
11 -0.157269 -0.593877  1.806397
12  0.723708       NaN -1.083590
13 -0.025359 -0.220751 -2.533928
14  1.133323 -0.334560  2.219325
15  0.874676  0.990100  0.862972
16       NaN  0.154997  0.692968
17  1.138000  0.975310  0.490196
18 -0.514983 -0.622928  0.488779
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
21 -0.881407  1.387133  0.590924
22 -0.942662  1.281320 -0.044009
23  0.779739       NaN  0.687446
24 -1.489971 -2.659973 -1.603739
25       NaN -0.146146 -0.552898
26 -1.354791  0.300910 -0.329339
27 -1.089672 -0.803777       NaN
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
30  0.984704 -0.046355  0.692290
31       NaN  1.791765  1.297697
32 -1.293774 -0.583517 -0.157288
33       NaN -0.454997 -0.394581
34 -0.197682  0.242009  0.805524
35  2.943045       NaN       NaN
36 -0.293400 -1.288052 -1.216343
37 -0.942429  1.174678       NaN
38 -2.285620 -0.927651  1.807632
39 -1.440037 -1.842489  1.357202
40 -0.560534 -0.824231 -1.611897
41  0.706394  0.057157       NaN
42 -0.841619 -0.937959  0.675474
43  0.204906  0.514825 -0.291869
44 -0.144525 -0.910644  0.176119
45  1.459465 -0.880620 -0.173625
46  0.536090  0.961909  0.834184
47  1.063929 -1.350850  2.079784
48 -0.303495       NaN  0.354834
49 -0.409062 -0.408841  1.536720

In [3]:
#PART A
#print("\nTotal number of N.A. values in dataframe : ",df.isnull().sum())                          --> print N.A. value columnwise 
print("\nTotal number of N.A. values in dataframe : ",df.isnull().sum().sum())

Total number of N.A. values in dataframe :  14

In [4]:
#PART B
df.dropna(thresh=45,axis=1,inplace=True)
print("\nThe DataFrame after dropping column with 5 N.A. value is : ")
df

The DataFrame after dropping column with 5 N.A. value is :

           0         1         2
0  -0.219444  0.862152  0.638012
1  -1.420462 -1.593394  0.551433
2  -0.556956  0.642456 -1.903061
3  -1.141479  0.712607 -3.433619
4   0.621297  1.439436  0.455576
5  -0.111148  0.514177 -0.981697
6   2.060874  0.379883 -0.489887
7   0.890061 -0.940793 -1.063430
8  -0.025073       NaN       NaN
9   2.294476 -1.351127 -0.473090
10  1.951116  1.551010  0.869619
11 -0.157269 -0.593877  1.806397
12  0.723708       NaN -1.083590
13 -0.025359 -0.220751 -2.533928
14  1.133323 -0.334560  2.219325
15  0.874676  0.990100  0.862972
16       NaN  0.154997  0.692968
17  1.138000  0.975310  0.490196
18 -0.514983 -0.622928  0.488779
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
21 -0.881407  1.387133  0.590924
22 -0.942662  1.281320 -0.044009
23  0.779739       NaN  0.687446
24 -1.489971 -2.659973 -1.603739
25       NaN -0.146146 -0.552898
26 -1.354791  0.300910 -0.329339
27 -1.089672 -0.803777       NaN
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
30  0.984704 -0.046355  0.692290
31       NaN  1.791765  1.297697
32 -1.293774 -0.583517 -0.157288
33       NaN -0.454997 -0.394581
34 -0.197682  0.242009  0.805524
35  2.943045       NaN       NaN
36 -0.293400 -1.288052 -1.216343
37 -0.942429  1.174678       NaN
38 -2.285620 -0.927651  1.807632
39 -1.440037 -1.842489  1.357202
40 -0.560534 -0.824231 -1.611897
41  0.706394  0.057157       NaN
42 -0.841619 -0.937959  0.675474
43  0.204906  0.514825 -0.291869
44 -0.144525 -0.910644  0.176119
45  1.459465 -0.880620 -0.173625
46  0.536090  0.961909  0.834184
47  1.063929 -1.350850  2.079784
48 -0.303495       NaN  0.354834
49 -0.409062 -0.408841  1.536720

In [5]:
#PART C
print("\nSum of each row of dataframe : ")
print(temp.sum(axis=1))

ind=np.argmax(temp.sum(axis=1))
print("\nIndex with maximum sum : ",ind)
temp.drop(ind)

Sum of each row of dataframe :
0     1.280721
1    -2.462423
2    -1.817561
3    -3.862491
4     2.516309
5    -0.578668
6     1.950870
7    -1.114162
8    -0.025073
9     0.470259
10    4.371745
11    1.055251
12   -0.359882
13   -2.780038
14    3.018088
15    2.727747
16    0.847965
17    2.603505
18   -0.649132
19   -2.995434
20   -3.438897
21    1.096650
22    0.294649
23    1.467185
24   -5.753682
25   -0.699044
26   -1.383220
27   -1.893449
28   -0.502955
29   -1.173877
30    1.630639
31    3.089462
32   -2.034578
33   -0.849578
34    0.849851
35    2.943045
36   -2.797795
37    0.232249
38   -1.405639
39   -1.925324
40   -2.996662
41    0.763551
42   -1.104104
43    0.427862
44   -0.879050
45    0.405220
46    2.332183
47    1.792863
48    0.051339
49    0.718818
dtype: float64

Index with maximum sum :  10

           0         1         2
0  -0.219444  0.862152  0.638012
1  -1.420462 -1.593394  0.551433
2  -0.556956  0.642456 -1.903061
3  -1.141479  0.712607 -3.433619
4   0.621297  1.439436  0.455576
5  -0.111148  0.514177 -0.981697
6   2.060874  0.379883 -0.489887
7   0.890061 -0.940793 -1.063430
8  -0.025073       NaN       NaN
9   2.294476 -1.351127 -0.473090
11 -0.157269 -0.593877  1.806397
12  0.723708       NaN -1.083590
13 -0.025359 -0.220751 -2.533928
14  1.133323 -0.334560  2.219325
15  0.874676  0.990100  0.862972
16       NaN  0.154997  0.692968
17  1.138000  0.975310  0.490196
18 -0.514983 -0.622928  0.488779
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
21 -0.881407  1.387133  0.590924
22 -0.942662  1.281320 -0.044009
23  0.779739       NaN  0.687446
24 -1.489971 -2.659973 -1.603739
25       NaN -0.146146 -0.552898
26 -1.354791  0.300910 -0.329339
27 -1.089672 -0.803777       NaN
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
30  0.984704 -0.046355  0.692290
31       NaN  1.791765  1.297697
32 -1.293774 -0.583517 -0.157288
33       NaN -0.454997 -0.394581
34 -0.197682  0.242009  0.805524
35  2.943045       NaN       NaN
36 -0.293400 -1.288052 -1.216343
37 -0.942429  1.174678       NaN
38 -2.285620 -0.927651  1.807632
39 -1.440037 -1.842489  1.357202
40 -0.560534 -0.824231 -1.611897
41  0.706394  0.057157       NaN
42 -0.841619 -0.937959  0.675474
43  0.204906  0.514825 -0.291869
44 -0.144525 -0.910644  0.176119
45  1.459465 -0.880620 -0.173625
46  0.536090  0.961909  0.834184
47  1.063929 -1.350850  2.079784
48 -0.303495       NaN  0.354834
49 -0.409062 -0.408841  1.536720

In [6]:
#PART D
print("\nOn sorting Dataframe values according to first column : ")
temp.sort_values(by=[temp.columns[0]],inplace=True)
temp

On sorting Dataframe values according to first column :

           0         1         2
38 -2.285620 -0.927651  1.807632
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
24 -1.489971 -2.659973 -1.603739
39 -1.440037 -1.842489  1.357202
1  -1.420462 -1.593394  0.551433
26 -1.354791  0.300910 -0.329339
32 -1.293774 -0.583517 -0.157288
3  -1.141479  0.712607 -3.433619
27 -1.089672 -0.803777       NaN
22 -0.942662  1.281320 -0.044009
37 -0.942429  1.174678       NaN
21 -0.881407  1.387133  0.590924
42 -0.841619 -0.937959  0.675474
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
40 -0.560534 -0.824231 -1.611897
2  -0.556956  0.642456 -1.903061
18 -0.514983 -0.622928  0.488779
49 -0.409062 -0.408841  1.536720
48 -0.303495       NaN  0.354834
36 -0.293400 -1.288052 -1.216343
0  -0.219444  0.862152  0.638012
34 -0.197682  0.242009  0.805524
11 -0.157269 -0.593877  1.806397
44 -0.144525 -0.910644  0.176119
5  -0.111148  0.514177 -0.981697
13 -0.025359 -0.220751 -2.533928
8  -0.025073       NaN       NaN
43  0.204906  0.514825 -0.291869
46  0.536090  0.961909  0.834184
4   0.621297  1.439436  0.455576
41  0.706394  0.057157       NaN
12  0.723708       NaN -1.083590
23  0.779739       NaN  0.687446
15  0.874676  0.990100  0.862972
7   0.890061 -0.940793 -1.063430
30  0.984704 -0.046355  0.692290
47  1.063929 -1.350850  2.079784
14  1.133323 -0.334560  2.219325
17  1.138000  0.975310  0.490196
45  1.459465 -0.880620 -0.173625
10  1.951116  1.551010  0.869619
6   2.060874  0.379883 -0.489887
9   2.294476 -1.351127 -0.473090
35  2.943045       NaN       NaN
16       NaN  0.154997  0.692968
25       NaN -0.146146 -0.552898
31       NaN  1.791765  1.297697
33       NaN -0.454997 -0.394581

In [7]:
print("\nOn sorting Dataframe values according to first and second column : ")
temp.sort_values(by=[temp.columns[0],temp.columns[1]],inplace=True)
temp

On sorting Dataframe values according to first and second column :

           0         1         2
38 -2.285620 -0.927651  1.807632
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
24 -1.489971 -2.659973 -1.603739
39 -1.440037 -1.842489  1.357202
1  -1.420462 -1.593394  0.551433
26 -1.354791  0.300910 -0.329339
32 -1.293774 -0.583517 -0.157288
3  -1.141479  0.712607 -3.433619
27 -1.089672 -0.803777       NaN
22 -0.942662  1.281320 -0.044009
37 -0.942429  1.174678       NaN
21 -0.881407  1.387133  0.590924
42 -0.841619 -0.937959  0.675474
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
40 -0.560534 -0.824231 -1.611897
2  -0.556956  0.642456 -1.903061
18 -0.514983 -0.622928  0.488779
49 -0.409062 -0.408841  1.536720
48 -0.303495       NaN  0.354834
36 -0.293400 -1.288052 -1.216343
0  -0.219444  0.862152  0.638012
34 -0.197682  0.242009  0.805524
11 -0.157269 -0.593877  1.806397
44 -0.144525 -0.910644  0.176119
5  -0.111148  0.514177 -0.981697
13 -0.025359 -0.220751 -2.533928
8  -0.025073       NaN       NaN
43  0.204906  0.514825 -0.291869
46  0.536090  0.961909  0.834184
4   0.621297  1.439436  0.455576
41  0.706394  0.057157       NaN
12  0.723708       NaN -1.083590
23  0.779739       NaN  0.687446
15  0.874676  0.990100  0.862972
7   0.890061 -0.940793 -1.063430
30  0.984704 -0.046355  0.692290
47  1.063929 -1.350850  2.079784
14  1.133323 -0.334560  2.219325
17  1.138000  0.975310  0.490196
45  1.459465 -0.880620 -0.173625
10  1.951116  1.551010  0.869619
6   2.060874  0.379883 -0.489887
9   2.294476 -1.351127 -0.473090
35  2.943045       NaN       NaN
33       NaN -0.454997 -0.394581
25       NaN -0.146146 -0.552898
16       NaN  0.154997  0.692968
31       NaN  1.791765  1.297697

In [8]:
#PART E
print("\nOn remove all duplicates from the first column : ")
temp.drop_duplicates(subset=df.columns[0],keep="first",inplace=True)
temp

# help(df.drop_duplicates)

On remove all duplicates from the first column :

           0         1         2
38 -2.285620 -0.927651  1.807632
19 -2.069151  0.274409 -1.200693
20 -1.583660 -1.163030 -0.692208
24 -1.489971 -2.659973 -1.603739
39 -1.440037 -1.842489  1.357202
1  -1.420462 -1.593394  0.551433
26 -1.354791  0.300910 -0.329339
32 -1.293774 -0.583517 -0.157288
3  -1.141479  0.712607 -3.433619
27 -1.089672 -0.803777       NaN
22 -0.942662  1.281320 -0.044009
37 -0.942429  1.174678       NaN
21 -0.881407  1.387133  0.590924
42 -0.841619 -0.937959  0.675474
28 -0.830112  0.841798 -0.514642
29 -0.584650  0.220033 -0.809260
40 -0.560534 -0.824231 -1.611897
2  -0.556956  0.642456 -1.903061
18 -0.514983 -0.622928  0.488779
49 -0.409062 -0.408841  1.536720
48 -0.303495       NaN  0.354834
36 -0.293400 -1.288052 -1.216343
0  -0.219444  0.862152  0.638012
34 -0.197682  0.242009  0.805524
11 -0.157269 -0.593877  1.806397
44 -0.144525 -0.910644  0.176119
5  -0.111148  0.514177 -0.981697
13 -0.025359 -0.220751 -2.533928
8  -0.025073       NaN       NaN
43  0.204906  0.514825 -0.291869
46  0.536090  0.961909  0.834184
4   0.621297  1.439436  0.455576
41  0.706394  0.057157       NaN
12  0.723708       NaN -1.083590
23  0.779739       NaN  0.687446
15  0.874676  0.990100  0.862972
7   0.890061 -0.940793 -1.063430
30  0.984704 -0.046355  0.692290
47  1.063929 -1.350850  2.079784
14  1.133323 -0.334560  2.219325
17  1.138000  0.975310  0.490196
45  1.459465 -0.880620 -0.173625
10  1.951116  1.551010  0.869619
6   2.060874  0.379883 -0.489887
9   2.294476 -1.351127 -0.473090
35  2.943045       NaN       NaN
33       NaN -0.454997 -0.394581

In [9]:
#PART F
cor=temp[temp.columns[0]].corr(temp[temp.columns[1]])
print("\nCorrelation between first and second column : ",cor)

cov=temp[temp.columns[1]].cov(temp[temp.columns[2]])
print("\nCovariance between second and third column : ",cov)

Correlation between first and second column :  0.20239273463892934

Covariance between second and third column :  -0.02367660753936899

In [10]:
#PART G
Q1=temp[0].quantile(0.25)
Q3=temp[0].quantile(0.75)

IQR=Q3-Q1

print(Q3+(1.5*IQR))
print(Q1-(1.5*IQR))

nrow={0:[10000,-10000],1:[2,2],2:[2,2]}
tempdf=pd.DataFrame(nrow)

newdf=pd.concat([temp,tempdf],ignore_index=True)
newdf

3.305087726461964
-3.466530238329546

               0         1         2
0      -2.285620 -0.927651  1.807632
1      -2.069151  0.274409 -1.200693
2      -1.583660 -1.163030 -0.692208
3      -1.489971 -2.659973 -1.603739
4      -1.440037 -1.842489  1.357202
5      -1.420462 -1.593394  0.551433
6      -1.354791  0.300910 -0.329339
7      -1.293774 -0.583517 -0.157288
8      -1.141479  0.712607 -3.433619
9      -1.089672 -0.803777       NaN
10     -0.942662  1.281320 -0.044009
11     -0.942429  1.174678       NaN
12     -0.881407  1.387133  0.590924
13     -0.841619 -0.937959  0.675474
14     -0.830112  0.841798 -0.514642
15     -0.584650  0.220033 -0.809260
16     -0.560534 -0.824231 -1.611897
17     -0.556956  0.642456 -1.903061
18     -0.514983 -0.622928  0.488779
19     -0.409062 -0.408841  1.536720
20     -0.303495       NaN  0.354834
21     -0.293400 -1.288052 -1.216343
22     -0.219444  0.862152  0.638012
23     -0.197682  0.242009  0.805524
24     -0.157269 -0.593877  1.806397
25     -0.144525 -0.910644  0.176119
26     -0.111148  0.514177 -0.981697
27     -0.025359 -0.220751 -2.533928
28     -0.025073       NaN       NaN
29      0.204906  0.514825 -0.291869
30      0.536090  0.961909  0.834184
31      0.621297  1.439436  0.455576
32      0.706394  0.057157       NaN
33      0.723708       NaN -1.083590
34      0.779739       NaN  0.687446
35      0.874676  0.990100  0.862972
36      0.890061 -0.940793 -1.063430
37      0.984704 -0.046355  0.692290
38      1.063929 -1.350850  2.079784
39      1.133323 -0.334560  2.219325
40      1.138000  0.975310  0.490196
41      1.459465 -0.880620 -0.173625
42      1.951116  1.551010  0.869619
43      2.060874  0.379883 -0.489887
44      2.294476 -1.351127 -0.473090
45      2.943045       NaN       NaN
46           NaN -0.454997 -0.394581
47  10000.000000  2.000000  2.000000
48 -10000.000000  2.000000  2.000000

In [11]:
upper=np.where(newdf[0] >= Q3+(1.5*IQR))
lower=np.where(newdf[0] <= Q1-(1.5*IQR))

newdf.drop(upper[0],inplace=True)
newdf.drop(lower[0],inplace=True)

newdf

           0         1         2
0  -2.285620 -0.927651  1.807632
1  -2.069151  0.274409 -1.200693
2  -1.583660 -1.163030 -0.692208
3  -1.489971 -2.659973 -1.603739
4  -1.440037 -1.842489  1.357202
5  -1.420462 -1.593394  0.551433
6  -1.354791  0.300910 -0.329339
7  -1.293774 -0.583517 -0.157288
8  -1.141479  0.712607 -3.433619
9  -1.089672 -0.803777       NaN
10 -0.942662  1.281320 -0.044009
11 -0.942429  1.174678       NaN
12 -0.881407  1.387133  0.590924
13 -0.841619 -0.937959  0.675474
14 -0.830112  0.841798 -0.514642
15 -0.584650  0.220033 -0.809260
16 -0.560534 -0.824231 -1.611897
17 -0.556956  0.642456 -1.903061
18 -0.514983 -0.622928  0.488779
19 -0.409062 -0.408841  1.536720
20 -0.303495       NaN  0.354834
21 -0.293400 -1.288052 -1.216343
22 -0.219444  0.862152  0.638012
23 -0.197682  0.242009  0.805524
24 -0.157269 -0.593877  1.806397
25 -0.144525 -0.910644  0.176119
26 -0.111148  0.514177 -0.981697
27 -0.025359 -0.220751 -2.533928
28 -0.025073       NaN       NaN
29  0.204906  0.514825 -0.291869
30  0.536090  0.961909  0.834184
31  0.621297  1.439436  0.455576
32  0.706394  0.057157       NaN
33  0.723708       NaN -1.083590
34  0.779739       NaN  0.687446
35  0.874676  0.990100  0.862972
36  0.890061 -0.940793 -1.063430
37  0.984704 -0.046355  0.692290
38  1.063929 -1.350850  2.079784
39  1.133323 -0.334560  2.219325
40  1.138000  0.975310  0.490196
41  1.459465 -0.880620 -0.173625
42  1.951116  1.551010  0.869619
43  2.060874  0.379883 -0.489887
44  2.294476 -1.351127 -0.473090
45  2.943045       NaN       NaN
46       NaN -0.454997 -0.394581

In [12]:
#PART H
Cut=pd.cut(temp[temp.columns[1]],bins=5)
print("\nUsing cut : \n")
print(Cut)
print("\nCount : \n")
Cut.value_counts()

Using cut :

38    (-0.976, -0.133]
19     (-0.133, 0.709]
20    (-1.818, -0.976]
24    (-2.664, -1.818]
39    (-2.664, -1.818]
1     (-1.818, -0.976]
26     (-0.133, 0.709]
32    (-0.976, -0.133]
3       (0.709, 1.551]
27    (-0.976, -0.133]
22      (0.709, 1.551]
37      (0.709, 1.551]
21      (0.709, 1.551]
42    (-0.976, -0.133]
28      (0.709, 1.551]
29     (-0.133, 0.709]
40    (-0.976, -0.133]
2      (-0.133, 0.709]
18    (-0.976, -0.133]
49    (-0.976, -0.133]
48                 NaN
36    (-1.818, -0.976]
0       (0.709, 1.551]
34     (-0.133, 0.709]
11    (-0.976, -0.133]
44    (-0.976, -0.133]
5      (-0.133, 0.709]
13    (-0.976, -0.133]
8                  NaN
43     (-0.133, 0.709]
46      (0.709, 1.551]
4       (0.709, 1.551]
41     (-0.133, 0.709]
12                 NaN
23                 NaN
15      (0.709, 1.551]
7     (-0.976, -0.133]
30     (-0.133, 0.709]
47    (-1.818, -0.976]
14    (-0.976, -0.133]
17      (0.709, 1.551]
45    (-0.976, -0.133]
10      (0.709, 1.551]
6      (-0.133, 0.709]
9     (-1.818, -0.976]
35                 NaN
33    (-0.976, -0.133]
Name: 1, dtype: category
Categories (5, interval[float64, right]): [(-2.664, -1.818] < (-1.818, -0.976] < (-0.976, -0.133] < (-0.133, 0.709] < (0.709, 1.551]]

Count :

(-0.976, -0.133]    14
(0.709, 1.551]      11
(-0.133, 0.709]     10
(-1.818, -0.976]     5
(-2.664, -1.818]     2
Name: 1, dtype: int64

In [13]:
Qcut=pd.qcut(temp[temp.columns[1]],q=5)
print("\nUsing qcut : \n")
print(Qcut)
print("\nCount : \n")
print(Qcut.value_counts())

Using qcut :

38    (-0.936, -0.532]
19      (0.261, 0.858]
20    (-2.661, -0.936]
24    (-2.661, -0.936]
39    (-2.661, -0.936]
1     (-2.661, -0.936]
26      (0.261, 0.858]
32    (-0.936, -0.532]
3       (0.261, 0.858]
27    (-0.936, -0.532]
22      (0.858, 1.551]
37      (0.858, 1.551]
21      (0.858, 1.551]
42    (-2.661, -0.936]
28      (0.261, 0.858]
29     (-0.532, 0.261]
40    (-0.936, -0.532]
2       (0.261, 0.858]
18    (-0.936, -0.532]
49     (-0.532, 0.261]
48                 NaN
36    (-2.661, -0.936]
0       (0.858, 1.551]
34     (-0.532, 0.261]
11    (-0.936, -0.532]
44    (-0.936, -0.532]
5       (0.261, 0.858]
13     (-0.532, 0.261]
8                  NaN
43      (0.261, 0.858]
46      (0.858, 1.551]
4       (0.858, 1.551]
41     (-0.532, 0.261]
12                 NaN
23                 NaN
15      (0.858, 1.551]
7     (-2.661, -0.936]
30     (-0.532, 0.261]
47    (-2.661, -0.936]
14     (-0.532, 0.261]
17      (0.858, 1.551]
45    (-0.936, -0.532]
10      (0.858, 1.551]
6       (0.261, 0.858]
9     (-2.661, -0.936]
35                 NaN
33     (-0.532, 0.261]
Name: 1, dtype: category
Categories (5, interval[float64, right]): [(-2.661, -0.936] < (-0.936, -0.532] < (-0.532, 0.261] < (0.261, 0.858] < (0.858, 1.551]]

Count :

(-2.661, -0.936]    9
(0.858, 1.551]      9
(-0.936, -0.532]    8
(-0.532, 0.261]     8
(0.261, 0.858]      8
Name: 1, dtype: int64